html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;   
}

body {
  max-width: 1400px;
  @include tablet-and-down {
    margin: 0 1rem;
  }

  @include desktop {
    margin: 0 auto;
  }
}

a {
  color: inherit;
  text-decoration: none;

  display: flex;
  align-items: center;
}

@include phone {
  h1 {font: $type-h3};
  h2 {font: $type-h4};
  h3 {font: $type-h5};
  h4 {font: $type-h6};
}

@include tablet {
  h1 {font: $type-h2};
  h2 {font: $type-h3};
  h3 {font: $type-h4};
  h4 {font: $type-h5};
}

@include desktop {
  h1 {font: $type-h1};
  h2 {font: $type-h2};
  h3 {font: $type-h3};
  h4 {font: $type-h4};
}

* {
  box-sizing: border-box;
}