html,
body {
  padding: 0;
  margin: 0;

  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;   
}

body {
  max-width: 1400px;
  min-height: 100vh;

  @include tablet-and-down {
    margin: 0 1rem;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: normal 1rem / 1rem 'Lato', sans-serif;


  & > section + section {
    margin-top: 4rem;
  }
}

a.barebones {
  color: inherit;
  text-decoration: none;

  display: flex;
  align-items: center;
  font: $type-h6;

  &:hover, &:focus, &:active {
    font: $type-h6;
    text-decoration: underline;
  }
}

a:not(.barebones) {
  color: $blue;
  text-decoration: none;

  display: flex;
  align-items: center;
  font: $type-h6;

  &:hover, &:focus, &:active {
    font: $type-h6;
    text-decoration: underline;
  }
}

a.external::after {
  display: flex;
  margin-left: 0.5rem;
  content: url('/assets/img/icons/top-right-blue.png');
  width: 1.5rem;
  height: 1.5rem;
}

@include phone {
  h1 {font: $type-h3};
  h2 {font: $type-h4};
  h3 {font: $type-h5};
  h4 {font: $type-h6};
}

@include tablet {
  h1 {font: $type-h2};
  h2 {font: $type-h3};
  h3 {font: $type-h4};
  h4 {font: $type-h5};
}

@include desktop {
  h1 {font: $type-h1};
  h2 {font: $type-h2};
  h3 {font: $type-h3};
  h4 {font: $type-h4};
}

* {
  box-sizing: border-box;
}