
// Colors
$blue: #0063dc;
$orange: #ffbf00;

// Fonts
$std-font: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
$type-h1: 4rem    / 4.5rem  $std-font;
$type-h2: 3.5rem  / 4rem    $std-font;
$type-h3: 3rem    / 3.5rem  $std-font;
$type-h4: 2.5rem  / 3rem    $std-font;
$type-h5: 2rem    / 2.5rem  $std-font;
$type-h6: 1.5rem  / 2rem    $std-font;