.footer {
  @include flex-column($gap);
  
  &--row {
    width: 100%;
    @include flex-column($gap);

    @include tablet-and-up {
      @include flex-row(4rem);
    }
  }

  &--nav {
    display: flex;
    flex-direction: row;
    gap: $gap;

    @include tablet-and-up {
      margin-left: auto;
    }
  }
}