.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--title {
    overflow: hidden;
    text-overflow: clip;

    @include phone { max-height: 2.5rem; display: none;}
    @include tablet { max-height: 3rem; display: unset;}
    @include desktop { max-height: 3.5rem; }
  }

  &--icon {
    @include phone { max-height: 2.5rem; max-width: 2.5rem; margin: 2.5rem 0; display: unset; }
    @include tablet-and-up { display: none; }
  }

  &--links {
    display: flex;
    & > * {
      margin-left: 1rem;
    }

    & > *:first-child {
      margin-left: auto;
    }
  }
}