.value-statement {

  text-align: justify;
  text-justify: inter-word;

  // Responsive design

  @include phone {
    width: 100%;
  }

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 60%;
  }
}